[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gofar"]
	path = gofar
	url = https://github.com/amishra-stats/gofar
	subdir = gofar
[submodule "nbfar"]
	path = nbfar
	url = https://github.com/amishra-stats/nbfar
	subdir = nbfar
[submodule "robregcc"]
	path = robregcc
	url = https://github.com/amishra-stats/robregcc
	subdir = robregcc
